<form #form="ngForm" (submit)="onSubmit(form)" novalidate autocomplete="off">
    <input type="hidden" name="id"[value]="service.formData.id">
    <div class="mb-3" >
        <label> Nazwa stacji</label>
        <input class="form-control form-control-lg" 
        placeholder="Nazwa stacji"
        #nazwa="ngModel" name="nazwa"
        [(ngModel)]="service.formData.nazwa"
        readonly>       
    </div>
    <div class="mb-3">
        <label> Cena PB95</label>
        <input class="form-control form-control-lg"
        placeholder="Cena PB95"
        #ron95="ngModel" name="ron95"
        [(ngModel)]="service.formData.ron95"
        [disabled]="service.formData.ron95 === null"
        maxlength="5">       

    </div>
    <div class="mb-3">
        <label> Cena PB98</label>
        <input class="form-control form-control-lg"
        placeholder="Cena PB98"
        #ron98="ngModel" name="ron98"
        [(ngModel)]="service.formData.ron98"
        [disabled]="service.formData.ron98 === null"
        maxlength="5">       
    </div>
    <div class="mb-3">
        <label> Cena ON</label>
        <input class="form-control form-control-lg"
        placeholder="Cena ON"
        #on="ngModel" name="on"
        [(ngModel)]="service.formData.on"
        [disabled]="service.formData.on === null"
        maxlength="5">       
    </div>
    <div class="mb-3">
        <label> Cena LPG</label>
        <input class="form-control form-control-lg"
        placeholder="Cena LPG"
        #lpg="ngModel" name="lpg"
        [(ngModel)]="service.formData.lpg"
        [disabled]="service.formData.lpg === null"
        maxlength="5">       
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit">Zaktualizuj ceny</button>
    </div>

</form>