/* You can add global styles to this file, and also import other style files */
.list-group-item {
    overflow: auto; /* lub overflow: scroll; */
}
.mouse-hover{
    cursor: pointer;
}
form label {
    text-transform: uppercase;
    color: gray;
}
form input{
    font-weight: 500;
}
form input::placeholder{
    color:#c0bdbd;
    font-weight: 300;    
}